# phpstorm project files
.idea/
# windows thumbnail cache
Thumbs.db
# composer vendor dir

# phpunit itseif is not needed
phpunit.phar
# runtime
runtime/
/*/web/assets/


# mac
.DS_Store

summarizes/shell/
summarizes/shell/time.txt


